.Navbar {
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 5px solid #0066ff;
  background-color: #ffffff;
}

.Navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Navbar ul li {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  cursor: crosshair;
  transition: all 0.3s linear;
}

.Navbar ul li:hover {
  background-color: #0066ff;
  color: #ffffff;
}

.active-tab {
  background-color: #0066ff;
  color: #ffffff;
}

.Main {
  border: 1px solid red;
  min-height: 60vh;
  max-height: 60vh;
}
