# =========================================================
# macOS SYSTEM FILES
# =========================================================

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd

# =========================================================
# EDITORS / IDEs
# =========================================================

# VSCode
.vscode/
*.code-workspace

# JetBrains / IntelliJ / CLion / RubyMine / GoLand
.idea/
*.iml
out/

# Sublime
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo

# Visual Studio Code Testing
.history/

.env
.env.*
!.env.example

# Certificates / Secrets
*.pem
*.key
*.crt
*.p12
*.csr

# =========================================================
# LOGS
# =========================================================

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================================
# NODE.JS / JAVASCRIPT / TYPESCRIPT
# =========================================================

node_modules/

# Package managers
.pnpm-store/
.npm/
.yarn/
.yarn-cache/

# Build output
dist/
build/
coverage/

# Frameworks
.vite/
.next/
.nuxt/
.remix/

# Cache
.cache/
.parcel-cache/

# TypeScript
*.tsbuildinfo

# PM2
.pids
pids/

# Bun
.bun/
bun.lockb

# =========================================================
# GO
# =========================================================

bin/
pkg/

# Go test binaries
*.test

# Coverage
coverage.out