.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abel-bold {
  font-family: "Abel", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-style: normal;
}

.Navbar {
  padding: 15px 20px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-title {
  font-size: 36px;
  color: #c5a880;
  text-decoration: overline;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-list-item {
  border-bottom: 2px solid #0f0f0f;
  color: #e6e6e6;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 10px;
  transition: all 0.25s linear;
  cursor: default;
}

.navbar-list-item:hover {
  color: #c5a880;
  border-bottom: 2px solid #c5a880;
}

.navbar-user-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #0f0f0f;
  color: #e6e6e6;
  transition: all 0.25s linear;
}

.navbar-user-logout-button {
  border: 1px solid #c5a880;
  background-color: #0f0f0f;
  color: #c5a880;
}

.navbar-user-logout-button:hover {
  border: 1px solid #0f0f0f;
  background-color: #0f0f0f;
  color: #c5a880;
}
