.overview-title-con {
  margin-top: 20px;
}

.overview-title-con h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.overview-title-con h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ff0066;
}

.overview-flex-con {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.overview-flex-con div {
  max-width: 400px;
}

.active-flights-con {
  padding: 20px 40px;
  background: #262626;
}

.active-flights-con h1 {
  text-align: center;
  font-size: 32px;
}

.flights-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.flights-list-item {
  margin: 10px 0;
  transition: all 0.25s ease-in-out;
}

.flights-list-item:hover {
  color: #ff0066;
}

.notams-con {
  background-color: #262626;
  padding: 10px 20px;
}
