<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Homework">
    <test name="Homework Tests">
        <classes>
            <class name="tests.XPathPTest" />
            <class name="tests.IFramesTest" />
            <class name="tests.JSAlertsTest" />
        </classes>
    </test>
</suite>